<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div>{{title}}</div>
        <img src="/img/robot.png">
    </body>
</html>