<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Help page not found.</p>
        </div>
        
        {{>footer}}
    </body>
</html>